@charset "utf-8";
/* CSS Document */

//
// Custom Styles 
//

// Media Query Starts
// @media #{$Five00} {}
// @media #{$Phone} {}
// @media #{$iPadPortrait} {} 
// @media #{$Desktop} {}

// @media #{$Small} {}
// @media #{$Medium} {}
// @media #{$Large} {}
// @media #{$xLarge} {}

// Fonts Sizes - OVERRIDE - ?????
  $h1-font-size: rem-calc(36); // $h1-font-size: rem-calc(44);  // not used yet
  $h2-font-size: rem-calc(22); // $h2-font-size: rem-calc(37);  // 22
  $h3-font-size: rem-calc(18); // $h3-font-size: rem-calc(27);  // 18

  $h4-font-size: rem-calc(14); // $h4-font-size: rem-calc(23);  // not used yet
  $h5-font-size: rem-calc(15); // $h5-font-size: rem-calc(18);  // not used yet
  $h6-font-size: rem-calc(16); // $h6-font-size: 1rem;          // not used yet

// Typical Paragraphs
  $article-font-size: rem-calc(16); // 15 good
  $paragraph-font-size: rem-calc(15); // 15 good
  $small-font-size: rem-calc(12); //12 good

// Backgrounds and Sprite Sheets - ?????
  $SpriteSheet: url('http://www.brooklyn.cuny.edu/web/abo_initiatives_hwi/spriteSheet.png');
  //$SpriteSheet: url('../images/spriteSheet.png');

// Colors
  $color-maroon: #781a42; //#7c2142 BCF
  $color-maroon2: #5d0e2e;
  $color-black: #000;
  $color-white: #fff;

  $color-gray222: #222;
  $color-gray444: #444;
  $color-gray555: #555;
  $color-gray666: #666;
  $color-gray999: #999;
  $color-grayccc: #ccc;
  $color-gray404: #404040;
  $color-graya2a: #a2a2a2;
  $color-grayece: #ececec;
  $color-gray7c7: #7c7c7c;
  $color-graye6e: #e6e6e6;
  $color-gray5a5: #5a5a5a;
  $color-grayefe: #efefef;


  $b-healthy: #367ddb;
  $b-healthy-dark: #184b92;
  $b-healthy-medium: #225eb3; 
  $b-healthy-light: #3b7ddb;

  $b-smart: #d30043;
  $b-smart-dark: #8c0832;
  $b-smart-medium: #b2083e; 
  $b-smart-light: #d30043;

  $b-green: #8fd300;
  $b-green-dark: #527705;
  $b-green-medium: #74a709; 
  $b-green-light: #8fd300;

  $b-aware: #a060b6;
  $b-aware-dark: #6c2e83;
  $b-aware-medium: #8c3da6; 
  $b-aware-light: #a060b6;

// Line Styles
  $thin-grayccc: 1px solid $color-grayccc;
  $thin-maroon2: 2px solid $color-maroon2;
  $thin-graye6e: 1px solid $color-graye6e;

body {
  background-color: $color-white;
}

.row {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}

.full-width { 
  width: 100%; 
  max-width: 100%;
}

/* Header*/
header {
  //border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: rem-calc(60);
  //background-image: $background-d;
  //height: rem-calc(55);
  //top:0px; 
  //margin:auto; 
  //position: fixed;
  z-index: 1000;
  //background-color: #eee;
  section {
    //width: 100%;
    //position: fixed;
    //top:0px;
    //background-image: $background-d;
    height: rem-calc(60);
    @media #{$Medium} {
      margin-bottom: rem-calc(40);
    }
    @media #{$Small} {
      height: rem-calc(45); // should be 42?
      margin-bottom: rem-calc(20);
    }
    .BClogo {
      display: inline-block;
      //position:fixed;
      //top:0;
      //border: 1px solid #000;
      //z-index: 2;
      //overflow: visible;
      margin: rem-calc(0) rem-calc(5) 0 rem-calc(5);

      width: 129px;
      height: 60px;
      @media #{$Small} {
        margin: 0;
        padding: 0;
        width: 90px;
        height: 42px; 
      }
      img {
        margin: 0;
        padding: 0;
      }
    }
    .HWIlogo {
      //border: 1px solid #000;
      display: inline-block;
      height: 60px;
      @media #{$Small} {
        margin: 0;
        padding: 0;
        height: 42px;
        img {
          height: 42px;
        }
      }
      img {
        margin: 0;
        padding: 0;
      }
    }
    .showPushMenu {
      //border: 1px solid #000;
      cursor: pointer;
      display: inline-block;
      background: $SpriteSheet no-repeat 0px 11px;
      width: 42px;
      height: 60px;
      margin-right: 5px;
      //margin: rem-calc(22) rem-calc(11) 0 rem-calc(11);
      //&:hover {
      //  background: $SpriteSheet no-repeat -142px 0px;
      //}
      @media #{$Small} {
        background: $SpriteSheet no-repeat -42px 8px;
        width: 30px;
        height: 45px;
      }
    }
    nav.topBar { 
      ul{
        list-style-type: none;
        text-transform: uppercase;
        margin:0;
        padding: rem-calc(16) 0 rem-calc(16) 0;
        //display: table;
        li {
          &:first-letter {
            font-weight: $bold;
          }
          font-family: 'ComeniaSansCondRegular';
          font-size: $small-font-size;
          //color: $color-maroon;

          display: inline-block;
          margin: 0;
          padding: 0 rem-calc(30) 0 0;
          //display: table-cell;
          //vertical-align: middle;
          @media #{$Desktop} {
            padding-right: rem-calc(25); 
          }
          &:last-of-type {
            padding-right: rem-calc(5);
            &:first-letter {
              font-weight: normal;
            }
          }
          &:first-of-type {
            &:first-letter {
              font-weight: normal;
            }
          }
          a {
            color: $color-gray222;
            text-decoration:none;
            padding: 0;
            margin: 0;
            //font-weight: $bold;
            &:hover {
              color: $color-gray666;
            }
          }
          &.healthy a:hover {
            color: $b-healthy;
          }
          &.smart a:hover {
            color: $b-smart;
          }
          &.green a:hover {
            color: $b-green;
          }
          &.aware a:hover {
            color: $b-aware;
          }
        }
      }
    }
    nav.cbp-spmenu {
      background: $color-white;
      position: fixed;
      &.cbp-spmenu-vertical {
        width: 240px;
        height: 100%;
        top: 0px;
        z-index: 1000;
        @media #{$Small} {
          top: 0px;
        }
      }
      ul{
        list-style-type: none;
        text-transform: uppercase;
        //display: table;
        li {
          &:first-letter {
            font-weight: $bold;
          }
          font-family: 'ComeniaSansCondRegular';
          font-size: $h6-font-size;
          //color: $color-maroon;

          display: block;
          padding: rem-calc(16) rem-calc(33) 0 0;
          //display: table-cell;
          //vertical-align: middle;
          &:last-of-type {
            padding-right: rem-calc(20);
            &:first-letter {
              font-weight: normal;
            }
          }
          &:first-of-type {
            &:first-letter {
              font-weight: normal;
            }
          }
          a {
            color: $color-gray222;
            text-decoration:none;
            //font-weight: $bold;
            &:hover {
              color: $color-gray666;
            }
          }
          &.healthy a:hover {
            color: $b-healthy;
          }
          &.smart a:hover {
            color: $b-smart;
          }
          &.green a:hover {
            color: $b-green;
          }
          &.aware a:hover {
            color: $b-aware;
          }
          &.hideForSmallOnly {
            @media #{$Small} {
              display: none;
            }
          }
          a {
            color: $color-gray222;
            text-decoration:none;
            //font-weight: $bold;
            &:hover {
              color: $color-gray666;
            }
          }
        }
      }
    }  
  }
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


// will need this later for in page stuff
.anchor {
  position: relative;
  display: block;
  top: -78px;
  height: 0;
  width: 0;
  visibility: hidden;
}















// Content
.content { 
  .breadcrumbs {
    font-size: $paragraph-font-size;
    padding: 0 0 0 rem-calc(5);
    margin-bottom: rem-calc(40);
    a {
      color: $color-black;
      text-decoration: none;
      &:hover {
        color: $color-grayccc;
      }
    }
    .news {
      display: inline;
      font-family: "ComeniaSansCondBold";
      text-transform: uppercase;
      padding: 0 rem-calc(10) 0 0;
      border-right: $thin-grayccc;
    }
    .category {
      display: inline;
      font-family: "ComeniaSansCondBold";
      text-transform: uppercase;
      padding: 0 rem-calc(10) 0 rem-calc(10);
      border-right: $thin-grayccc;
      &.healthy a{
        color: $b-healthy;
        &:hover {
          color: $color-grayccc;
        }
      }
      &.smart a{
        color: $b-smart;
        &:hover {
          color: $color-grayccc;
        }
      }
      &.green a{
        color: $b-green;
        &:hover {
          color: $color-grayccc;
        }
      }
      &.aware a{
        color: $b-aware;
        &:hover {
          color: $color-grayccc;
        }
      }
    }
    .storytitle {
      font-family: "ComeniaSansCondRegular";
      display: inline;
      padding: 0 0 0 rem-calc(10);
      @media #{$Small} {
        display: none;
      }
    }
  }
  .title {
    padding: 0 0 0 rem-calc(5);
    margin-bottom: rem-calc(30);
    h1 {
      margin: 0;
      font-family: "ComeniaSansCondBold";
      font-size: $h1-font-size;
      color: $color-black;
      line-height: 38px;
    }
  }
  .socialIcons {
    padding: 0;
    //border: 1px solid #000;
    @media #{$Medium} {
      padding: 0;
    }
  }
  .icons {
    height: rem-calc(35);
    margin: 0 0 rem-calc(30) rem-calc(5);
    a {
      display: inline-block;
      margin-right: rem-calc(23);
      width: rem-calc(35);
      height: rem-calc(35);
      &.facebook {
        background: $SpriteSheet no-repeat -74px 0px;
      }
      &.twitter {
        background: $SpriteSheet no-repeat -111px 0px;
      }
      &.pinterest {
        background: $SpriteSheet no-repeat -148px 0px;
      }
      &.googleplus {
        background: $SpriteSheet no-repeat -185px 0px;
      }
      &.email {
      background: $SpriteSheet no-repeat -222px 0px;
      }
    }
  }
  article {
    margin: 0 rem-calc(5) rem-calc(60) rem-calc(5);
    .image-content {
    }
    .caption {
      background-color: $color-gray222;
      padding: rem-calc(16) rem-calc(10) rem-calc(16) rem-calc(10);
      margin-bottom: rem-calc(40);
      p {
        font-size: $small-font-size;
        line-height: 14px;
        color: $color-white;
        padding: 0;
        margin: 0;
      }
    }
    p {
      font-size: $article-font-size;
      line-height: 19px;
      color: $color-gray404;
    }
    ul {
      margin-bottom: rem-calc(30);
      li {
        font-size: $article-font-size;
        color: $color-gray404;
        line-height: 19px;
      }
    }
  }
}







	.rowInside { // for overall padding for a row (can't use margins on rows)
		.sectionObject { // insides of each column setup 

		}
	}










// Footer
footer {
  //margin-top: rem-calc(60);
  background-color: $color-grayece;
  .footerNav {
    text-align: center;
    margin-top: rem-calc(30);
    margin-bottom: rem-calc(20);
    margin-left: auto;
    margin-right: auto;
    ul {
      font-size: $paragraph-font-size;
      list-style-type: none;
      text-transform: uppercase;
      li {
        display: inline-block;
        padding: 0 rem-calc(15) 0 rem-calc(15);
        //&.hideForSmallOnly {
        //  @media #{$Small} {
        //    display: none;
        //  }
        a {
          color: $color-gray666;
          text-decoration: none;
          &:hover {
            color: $color-gray999;
          }
        }
      }
    }
  }
  .copyright {
    margin: rem-calc(0) rem-calc(0) rem-calc(40) rem-calc(5);
    //border: 1px solid #000;
    p {
      font-size: $small-font-size;
      color: $color-gray666;
      a {
        color: $color-maroon;
        font-weight: $bold;
        text-decoration: none; 
        &:hover {
          color: $color-gray999;
        }
      }
    }
  }
}


