@charset "utf-8";
/* CSS Document */

//
// Custom Styles 
//

// Media Query Starts
// @media #{$Five00} {}
// @media #{$Phone} {}
// @media #{$iPadPortrait} {} 
// @media #{$Desktop} {}

// @media #{$Small} {}
// @media #{$Medium} {}
// @media #{$Large} {}
// @media #{$xLarge} {}

// Fonts Sizes - OVERRIDE - ?????
  $h1-font-size: rem-calc(36); // $h1-font-size: rem-calc(44);  // not used yet
  $h2-news-archive-font-size: rem-calc(24); // $h2-font-size: rem-calc(37);  // 22
  $h2-font-size: rem-calc(20); // $h2-font-size: rem-calc(37);  // 22
  $h3-font-size: rem-calc(18); // $h3-font-size: rem-calc(27);  // 18

  $h4-font-size: rem-calc(14); // $h4-font-size: rem-calc(23);  // not used yet
  $h5-font-size: rem-calc(15); // $h5-font-size: rem-calc(18);  // not used yet
  $h6-font-size: rem-calc(16); // $h6-font-size: 1rem;          // not used yet

// Typical Paragraphs
  $paragraph-font-size: rem-calc(15); // 15 good
  $article-font-size: rem-calc(15); // 15 good
  $small-font-size: rem-calc(12); //12 good

// Backgrounds and Sprite Sheets - ?????
  $SpriteSheet: url('http://www.brooklyn.cuny.edu/web/abo_initiatives_hwi/spriteSheet.png');
  //$SpriteSheet: url('../images/spriteSheet.png');

// Colors
  $color-maroon: #781a42; //#7c2142 BCF
  $color-maroon2: #5d0e2e;
  $color-black: #000;
  $color-white: #fff;

  $color-gray222: #222;
  $color-gray333: #333;
  $color-gray444: #444;
  $color-gray555: #555;
  $color-gray666: #666;
  $color-gray777: #777;
  $color-gray999: #999;
  $color-grayccc: #ccc;
  $color-gray404: #404040;
  $color-graya2a: #a2a2a2;
  $color-grayece: #ececec;
  $color-gray7c7: #7c7c7c;
  $color-graye6e: #e6e6e6;
  $color-gray5a5: #5a5a5a;
  $color-grayefe: #efefef;


  $b-healthy: #367ddb;
  $b-healthy-dark: #184b92;
  $b-healthy-medium: #225eb3; 
  $b-healthy-light: #3b7ddb;

  $b-smart: #d30043;
  $b-smart-dark: #8c0832;
  $b-smart-medium: #b2083e; 
  $b-smart-light: #d30043;

  $b-green: #8fd300;
  $b-green-dark: #527705;
  $b-green-medium: #74a709; 
  $b-green-light: #8fd300;

  $b-aware: #a060b6;
  $b-aware-dark: #6c2e83;
  $b-aware-medium: #8c3da6; 
  $b-aware-light: #a060b6;

// Line Styles
  $thin-grayccc: 1px solid $color-grayccc;
  $thin-gray222: 1px solid $color-gray222;
  $thin-maroon2: 2px solid $color-maroon2;
  $thin-graye6e: 1px solid $color-graye6e;
  $medium-white: 6px solid $color-white;

body {
  background-color: $color-white;
}

.row {
  //border-left: 1px solid #000;
  //border-right: 1px solid #000;
}

.full-width { 
  width: 100%; 
  max-width: 100%;
  &.gray {
    background-color: $color-grayece;
    margin-bottom: 50px;
  }
  &.grayfooter {
    background-color: $color-grayece;
    margin-bottom: 0;
  }
  &.gray2 {
    background-color: $color-graya2a;
  }
  &.white {
    margin-bottom: 50px;
  }
}

/* Header*/
header {
  //border-bottom: 1px solid #000;
  width: 100%;
  margin-bottom: rem-calc(60);
  @media #{$Medium} {
    margin-bottom: rem-calc(43);
  }
  @media #{$Small} {
    margin-bottom: rem-calc(20);
  }
  //background-image: $background-d;
  //height: rem-calc(55);
  //top:0px; 
  //margin:auto; 
  //position: fixed;
  z-index: 1000;
  //background-color: #eee;
  section {
    //width: 100%;
    //position: fixed;
    //top:0px;
    //background-image: $background-d;
    height: rem-calc(60);
    @media #{$Medium} {
      margin-bottom: rem-calc(40);
    }
    @media #{$Small} {
      height: rem-calc(45); // should be 42?
      margin-bottom: rem-calc(20);
    }
    .BClogo {
      display: inline-block;
      //position:fixed;
      //top:0;
      //border: 1px solid #000;
      //z-index: 2;
      //overflow: visible;
      margin: rem-calc(0) rem-calc(5) 0 rem-calc(5);

      width: 129px;
      height: 60px;
      @media #{$Small} {
        margin: 0;
        padding: 0;
        width: 90px;
        height: 42px; 
      }
      img {
        margin: 0;
        padding: 0;
      }
    }
    .HWIlogo {
      //border: 1px solid #000;
      display: inline-block;
      height: 60px;
      @media #{$Small} {
        margin: 0;
        padding: 0;
        height: 42px;
        img {
          height: 42px;
        }
      }
      img {
        margin: 0;
        padding: 0;
      }
    }
    .showPushMenu {
      //border: 1px solid #000;
      cursor: pointer;
      display: inline-block;
      background: $SpriteSheet no-repeat 0px 11px;
      width: 42px;
      height: 60px;
      margin-right: 5px;
      //margin: rem-calc(22) rem-calc(11) 0 rem-calc(11);
      //&:hover {
      //  background: $SpriteSheet no-repeat -142px 0px;
      //}
      @media #{$Small} {
        background: $SpriteSheet no-repeat -42px 8px;
        width: 30px;
        height: 45px;
      }
    }
    nav.topBar { 
      ul{
        list-style-type: none;
        text-transform: uppercase;
        margin:0;
        padding: rem-calc(16) 0 rem-calc(16) 0;
        //display: table;
        li {
          &:first-letter {
            font-weight: $bold;
          }
          font-family: 'ComeniaSansCondRegular';
          font-size: rem-calc(15);
          display: inline-block;
          padding: 0 rem-calc(30) 0 0;
          //display: table-cell;
          //vertical-align: middle;
          @media #{$Desktop} {
            padding-right: rem-calc(25); 
          }
          &:last-of-type {
            padding-right: rem-calc(20);
            &:first-letter {
              font-weight: normal;
            }
          }
          &:first-of-type {
            &:first-letter {
              font-weight: normal;
            }
          }
          a {
            color: $color-gray222;
            text-decoration:none;
            //font-weight: $bold;
            &:hover {
              color: $color-gray666;
            }
          }
          &.healthy a:hover {
            color: $b-healthy;
          }
          &.smart a:hover {
            color: $b-smart;
          }
          &.green a:hover {
            color: $b-green;
          }
          &.aware a:hover {
            color: $b-aware;
          }
        }
      }
    }
    nav.cbp-spmenu {
      background: $color-white;
      position: fixed;
      &.cbp-spmenu-vertical {
        width: 240px;
        height: 100%;
        top: 0px;
        z-index: 1000;
        @media #{$Small} {
          top: 0px;
        }
      }
      ul{
        list-style-type: none;
        text-transform: uppercase;
        //display: table;
        li {
          &:first-letter {
            font-weight: $bold;
          }
          font-family: 'ComeniaSansCondRegular';
          font-size: $h6-font-size;
          //color: $color-maroon;

          display: block;
          padding: rem-calc(16) rem-calc(33) 0 0;
          //display: table-cell;
          //vertical-align: middle;
          &:last-of-type {
            padding-right: rem-calc(20);
            &:first-letter {
              font-weight: normal;
            }
          }
          &:first-of-type {
            &:first-letter {
              font-weight: normal;
            }
          }
          a {
            color: $color-gray222;
            text-decoration:none;
            //font-weight: $bold;
            &:hover {
              color: $color-gray666;
            }
          }
          &.healthy a:hover {
            color: $b-healthy;
          }
          &.smart a:hover {
            color: $b-smart;
          }
          &.green a:hover {
            color: $b-green;
          }
          &.aware a:hover {
            color: $b-aware;
          }
          &.hideForSmallOnly {
            @media #{$Small} {
              display: none;
            }
          }
          a {
            color: $color-gray222;
            text-decoration:none;
            //font-weight: $bold;
            &:hover {
              color: $color-gray666;
            }
          }
        }
      }
    }  
  }
}

/* Vertical menu that slides from the left or right */

.cbp-spmenu-right {
  right: -240px;
}

.cbp-spmenu-right.cbp-spmenu-open {
  right: 0px;
}

/* Push classes applied to the body */

.cbp-spmenu-push {
  overflow-x: hidden;
  position: relative;
  left: 0;
}

.cbp-spmenu-push-toright {
  left: 240px;
}

.cbp-spmenu-push-toleft {
  left: -240px;
}

/* Transitions */

.cbp-spmenu,
.cbp-spmenu-push {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.anchor {
  position: relative;
  display: block;
  top: -5px;
  height: 0;
  width: 0;
  visibility: hidden;
}

// Content
.content {
  .rowInside .sectionObject {
    padding: 0 rem-calc(5) 0 rem-calc(5);
  }
  .breadcrumbs {
    font-size: $paragraph-font-size;
    padding: 0 0 0 rem-calc(5);
    margin-bottom: rem-calc(40);
    a {
      color: $color-black;
      text-decoration: none;
      &:hover {
        color: $color-grayccc;
      }
    }
    .news {
      display: inline;
      font-family: "ComeniaSansCondBold";
      text-transform: uppercase;
      padding: 0 rem-calc(10) 0 0;
      border-right: $thin-grayccc;
    }
    .category {
      display: inline;
      font-family: "ComeniaSansCondBold";
      text-transform: uppercase;
      padding: 0 rem-calc(10) 0 rem-calc(10);
      border-right: $thin-grayccc;
      &.healthy a{
        color: $b-healthy;
        &:hover {
          color: $color-grayccc;
        }
      }
      &.smart a{
        color: $b-smart;
        &:hover {
          color: $color-grayccc;
        }
      }
      &.green a{
        color: $b-green;
        &:hover {
          color: $color-grayccc;
        }
      }
      &.aware a{
        color: $b-aware;
        &:hover {
          color: $color-grayccc;
        }
      }
    }
    .storytitle {
      font-family: "ComeniaSansCondRegular";
      display: inline;
      padding: 0 0 0 rem-calc(10);
      @media #{$Small} {
        display: none;
      }
    }
  }
  .title {
    padding: 0 0 0 rem-calc(5);
    margin-bottom: rem-calc(30);
    h1 {
      margin: 0;
      font-family: "ComeniaSansCondBold";
      font-size: $h1-font-size;
      color: $color-black;
      line-height: 38px;
    }
  }
  .socialIcons {
    padding: 0;
    //border: 1px solid #000;
    @media #{$Medium} {
      padding: 0;
    }
  }
  .icons {
    height: rem-calc(35);
    margin: 0 0 rem-calc(30) rem-calc(5);
    a {
      display: inline-block;
      margin-right: rem-calc(23);
      width: rem-calc(35);
      height: rem-calc(35);
      &.facebook {
        background: $SpriteSheet no-repeat -74px 0px;
      }
      &.twitter {
        background: $SpriteSheet no-repeat -111px 0px;
      }
      &.pinterest {
        background: $SpriteSheet no-repeat -148px 0px;
      }
      &.googleplus {
        background: $SpriteSheet no-repeat -185px 0px;
      }
      &.email {
      background: $SpriteSheet no-repeat -222px 0px;
      }
    }
  }

  // Article Styles
  article {
    margin: 0 rem-calc(5) rem-calc(60) rem-calc(5);
    .image-content {
    }
    .caption {
      background-color: $color-gray222;
      padding: rem-calc(16) rem-calc(10) rem-calc(16) rem-calc(10);
      margin-bottom: rem-calc(40);
      p {
        font-size: $small-font-size;
        line-height: 14px;
        color: $color-white;
        padding: 0;
        margin: 0;
      }
    }
    h1 {
      display: none;
      @media print {
        display: inline;
      }
    }
    p {
      font-size: $article-font-size;
      line-height: 19px;
      color: $color-gray404;
    }
    ul {
      margin-bottom: rem-calc(30);
      li {
        font-size: $article-font-size;
        color: $color-gray404;
        line-height: 19px;
      }
    }
  }
  .articleButtons {
    padding: 0 rem-calc(5) 0 rem-calc(5);
    margin-bottom: rem-calc(60);
    a {
      text-decoration: none;
    }
    .articleButton {

      //border: $thin-maroon2;
      //padding: 17px 0px 17px 0;
      text-align: center;
      margin-left: auto;
      margin-right: auto;
      height: rem-calc(40);
      &.abLeft {
        margin-right: rem-calc(34);
        @media #{$Small} {
          margin-right: 0;
        }
      }
      &.abRight {
        margin-left: rem-calc(34);
        @media #{$Small} {
          margin-left: 0;
        }
      }
      p {
        padding-top: rem-calc(6);
        color: $color-white;
        font-size: $h2-font-size;
        font-family: 'ComeniaSansCondRegular';
        text-transform: uppercase;
      }
      &.healthy {
        background-color: $b-healthy;
        &:hover {
          background-color: $color-gray666;
        }
      }
      &.smart {
        background-color: $b-smart;
        &:hover {
          background-color: $color-gray666;
        }
      }
      &.green {
        background-color: $b-green;
        &:hover {
          background-color: $color-gray666;
        }
      }
      &.aware {
        background-color: $b-aware;
        &:hover {
          background-color: $color-gray666;
        }
      }
    }
  }

// Article Section Styles for News Landing Page
  section .articles-wrapper {
    //border: 1px solid #000;
    padding: 0 rem-calc(5) rem-calc(60) rem-calc(5);
    @media #{$iPadPortrait} {
      //padding: rem-calc(32) rem-calc(8) rem-calc(90) rem-calc(16);
    }
    @media #{$Phone} {
      //padding: rem-calc(20) rem-calc(16) rem-calc(16) rem-calc(16);
    }
    ul {
      list-style-type: none;
      padding: 0; 
      margin: 0;
      li {

        margin: 0 0 rem-calc(50) 0;
        &:last-of-type{
          margin: 0;
        }
        &:nth-child(odd){
          background-color: $color-grayefe; // for JS rewrite
        }
        padding:0;
        .listed-article {
          min-height: 140px;
          //border: 1px solid #000;
          .article-image {
            float: left;
            overflow: hidden; // this is important
            position: relative; // this is important too
            width: 196px;
            height: 140px;
            margin-right: 10px;
            @media #{$Small} {
              display: none;
            }
            img {
              position:absolute;
              max-width: 250px;
              height: 140px;
              left: -25px;
              @media #{$Small} {
                position:relative;
                //width: 1000px;
                //height: 1000px;
                left: 0px;
              }
            }
          }
          .article-image2 {
            display: none;
            @media #{$Small} {
              display: block;
            }
          }
          .text-elements {
            //border: 1px solid #f00;
            margin-left: rem-calc(10);
            //padding: 10px;
            @media #{$Small} {
              margin-left: 5px;
            }
          }
          .article-tag {
            //margin: rem-calc(-10) 0 0 rem-calc(0);
            text-transform: uppercase;
            font-size: $h4-font-size;
            display: inline-block;
            width: rem-calc(100);
            //height: rem-calc(20);
            //position: relative;
            p {
              margin: 0;
              font-family: 'ComeniaSansCondRegular'; //B
              padding: 0 0 0 rem-calc(10);
              color: $color-white;
              text-decoration: none;
              &.healthy {
                background-color: $b-healthy;
              }
              &.smart {
                background-color: $b-smart;
              }
              &.green {
                background-color: $b-green;
              }
              &.aware {
                background-color: $b-aware;
              }
            }
          }
          .article-date {
            display: inline-block;
            font-family: $font-lucida;
            font-size: $h4-font-size;
            margin-left: rem-calc(10);
            color: $color-gray666;
          }
          .article-title {
            //border: 1px solid #f00;
            //margin: 0 0 0 rem-calc(10);
            h2 {
              margin: rem-calc(-5) 0 0 rem-calc(0);
              font-family: 'ComeniaSansCondRegular'; //B
              font-size: $h2-news-archive-font-size;
              line-height: 25px;
              @media #{$Five00} {
                font-size: rem-calc(20);
                line-height: 20px;
              }
              a {
                color: $color-gray222;
                text-decoration: none;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
          }
          .article-teaser{ 
            margin: 0 0 0 rem-calc(0);
            padding-bottom: 10px;
            p {
              margin: 0 0 0 rem-calc(0);
              font-family: $font-lucida;
              font-size: rem-calc(16);
              color: $color-gray404;
              line-height: 19px;
            }
          }
        }        
      }
    }
  }

// Orbit Styles
  .slider {
    padding-top: rem-calc(40);
    @media #{$Small} {
      padding-top: rem-calc(0);
    }
    //border: 1px solid #f00;
    ul {
      li { //(each highlight)
        padding: 0 rem-calc(55) 0 rem-calc(55);
        @media #{$iPadPortrait} {
          padding: 0 rem-calc(40) 0 rem-calc(40);
        }
        @media #{$Phone} {
          padding: 0 0 0 0;
        }
        .hightlighted-article { //(content) 
          .article-image {
            //border: 1px solid #f00;
            max-width: 60%;
            float: left;
            padding-right: rem-calc(20);
            @media #{$iPadPortrait} {
              //max-width:65%;
              padding-right: rem-calc(16);
            }
            @media #{$Phone} {
              max-width: 100%;
              float: none;
              padding-right: 0;
            }
          }
          .article-text-elements {
            //border: 1px solid #f00;
            background-color: #fff;
            padding: 0;
            @media #{$iPadPortrait} {
              padding: 0;
            }
            @media #{$Phone} {
              padding: rem-calc(17) rem-calc(10) 0 rem-calc(10);
            }
            .article-title {
              h2 {
                margin: rem-calc(-4) 0 0 0;
                //border: 1px solid #f00;
                font-family: 'ComeniaSansCondBold'; //B
                text-transform: uppercase;
                font-size: rem-calc(28);
                line-height: 29px;
                padding-bottom: rem-calc(16);
                @media #{$iPadPortrait} {
                  margin: rem-calc(-2) 0 0 0;
                  font-size: rem-calc(19);
                  line-height: 20px;
                  padding-bottom: rem-calc(12);
                }
                @media #{$Phone} {
                  margin: 0;
                  font-size: rem-calc(20);
                  line-height: 22px;
                  padding-bottom: rem-calc(16);
                }
                a {
                  color: $color-gray222;
                  text-decoration: none;
                  &:hover {
                    text-decoration: underline;
                  }
                }
              }
            }
            .article-teaser {
              p {
                margin: 0;
                //border: 1px solid #f00;
                font-family: 'ComeniaSansCondRegular';
                font-size: rem-calc(18);
                color: $color-gray404;
                line-height: 20px;
                //padding-bottom: rem-calc(20);
                @media #{$iPadPortrait} {
                  font-size: rem-calc(16);
                  line-height: 19px;
                }
                @media #{$Phone} {
                  font-size: rem-calc(19);
                  line-height: 21px;
                }
              }
            }
            .article-tag {
              &.healthy p a {
                color: $b-healthy;
              }
              &.smart p a {
                color: $b-smart;
              }
              &.green p a {
                color: $b-green;
              }
              &.aware p a {
                color: $b-aware;
              }
              &:hover {
                color: $color-gray666;
                }
              p {
                margin: 0;
                padding-top: rem-calc(40);
                //border: 1px solid #f00;
                color: $color-gray7c7;
                font-size: rem-calc(16);
                font-family: 'ComeniaSansCondRegular';
                @media #{$Medium} {
                  padding-top: rem-calc(30);
                }
                @media #{$iPadPortrait} {
                  padding: rem-calc(30) 0 rem-calc(30) 0;
                }
                a {
                  font-family: 'ComeniaSansCondBold';
                  text-decoration: none;               
                  //padding: rem-calc(0) rem-calc(0) rem-calc(0) rem-calc(0);
                  
                }
              }
            }
          }
        }
      }
    }
  }

  // Orbit buttons culled from _orbit.scss
  .orbit-container {
    background-color: transparent;
    .orbit-prev {
      position: absolute;
      //top: 50%;
      margin-top: -25px;
      //background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-LeftArrow.png) no-repeat 3px 10px;
      background: $SpriteSheet no-repeat -333px -333px;
      background-color: $orbit-nav-bg;
      width: 35px;
      height: 65px;
      //line-height: 50px;
      color: white;
      text-indent: -9999px !important;
      z-index: 10;
      &:hover {
        background-color: $orbit-nav-bg;
        opacity:0.6; 
      }

      & > span {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        display: none;
        width: 0;
        height: 0;
        //border: inset 16px;
      }
      @media #{$iPadPortrait} {
        left: 0px;
        margin-top: -35px;
        //background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-LeftArrow-Rev.png) no-repeat 5px 12px;
        //background-color: $color-grayErato;
        //opacity: 0.8;
        //&:hover {
        //  background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-LeftArrow.png) no-repeat 5px 12px;
        //  background-color: $color-darkGray;
        //  opacity:0.6;
        //}
      }
      @media #{$Phone} { //had to turn this on in _orbit.scss
        display: block;
        top: 30%;
        //background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-LeftArrow-Rev.png) no-repeat 6px 12px;
        background: $SpriteSheet no-repeat -368px -333px;
        background-color: $color-gray333;
        opacity:0.8;
        &:hover {
          display: block;
          top: 30%;
          //background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-LeftArrow-Rev.png) no-repeat 6px 12px;
          background: $SpriteSheet no-repeat -368px -333px;
          background-color: $color-gray333;
          opacity:0.6;
        }
      }
    }
    .orbit-next {
      position: absolute;
      //top: 50%;
      margin-top: -25px;
      //background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-RightArrow.png) no-repeat -10px 10px;
      background: $SpriteSheet no-repeat -403px -333px;
      background-color: $orbit-nav-bg;
      width: 35px;
      height: 65px;
      line-height: 50px;
      color: white;
      text-indent: -9999px !important;
      z-index: 10;
      &:hover {
        background-color: $orbit-nav-bg;
        opacity:0.6;  
      }
      & > span {
        position: absolute;
        top: 50%;
        margin-top: -16px;
        display: none;
        width: 0;
        height: 0;
        //border: inset 16px;
      }
      @media #{$iPadPortrait} {
        right: 0px;
        margin-top: -35px;
        //background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-RightArrow-Rev.png) no-repeat 6px 12px;
        //background-color: $color-grayErato;
        //opacity:0.8;
        //&:hover {
        //  background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-RightArrow.png) no-repeat -12px 12px;
        //  background-color: $color-white;
        //  opacity:0.6;
        //}
      }
      @media #{$Phone} {  //had to turn this on in _orbit.scss
        display: block;
        top: 30%;
        //background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-RightArrow-Rev.png) no-repeat 6px 12px;
        background: $SpriteSheet no-repeat -438px -333px;
        background-color: $color-gray333;
        opacity: 0.8;
        &:hover {
          display: block;
          top: 30%;
          //background: url(http://www.brooklyn.cuny.edu/web/sup_foundation/slideshow-RightArrow-Rev.png) no-repeat 6px 12px;
          background: $SpriteSheet no-repeat -438px -333px;
          background-color: $color-gray333;
          opacity: 0.6;
        }
      }
    }
    .orbit-bullets {
        margin: 0 0 20px 0;
        padding: 0 0 0 0; 
        li {
        margin: 0 rem-calc(7) 0 rem-calc(7);
        border: $thin-gray222;
        background-color: $color-white;
        height: rem-calc(12);
        width: rem-calc(12);
        &.active {
          border: $thin-gray222;
          background-color: $color-gray222;
        }
      }
    }
  }




// Home Page elements
  .titleIcon {
    //border: 1px solid #000;
    padding: 0 rem-calc(5) rem-calc(36) 0;
    @media #{$Small} {
      padding-bottom: rem-calc(20);
    }
    &.homePage {
      .icon {
        background: $SpriteSheet no-repeat -258px 0px;
        width: rem-calc(67);
        height: rem-calc(67);
        float: left;
        @media #{$Small} {
          background: $SpriteSheet no-repeat -385px 0px;
          width: rem-calc(37);
          height: rem-calc(37);
        }
      }
      h1 {
        display: inline-block;
        font-family: 'ComeniaSansCondRegular';
        font-size: rem-calc(38);
        line-height: 36px;
        letter-spacing: 1px;
        color: $color-gray5a5;
        margin: rem-calc(-2) 0 0 0;
        padding: 0 0 0 rem-calc(10);
        width: rem-calc(400);
        @media #{$Small} {
          margin: rem-calc(0) 0 0 0;
          font-size: rem-calc(20);
          line-height: 20px;
          width: rem-calc(200);
        }
      }
    }
    &.newsArchive {
      .icon {
        background: $SpriteSheet no-repeat -327px 0px;
        width: rem-calc(56);
        height: rem-calc(56);
        float: left;
        @media #{$Small} {
          background: $SpriteSheet no-repeat -385px 0px;
          width: rem-calc(38);
          height: rem-calc(38);
        }
      }
      & h1 {
        display: inline-block;
        font-family: 'ComeniaSansCondRegular';
        font-size: rem-calc(48);
        color: $color-gray5a5;
        margin: rem-calc(-7) 0 0 0;
        padding: 0 0 0 rem-calc(10);
        @media #{$Small} {
          margin: rem-calc(0) 0 0 0;
          font-size: rem-calc(20);
          line-height: 20px;
          width: rem-calc(150);
        }
      }
    }
  }
  .mission {
    //padding: 0 rem-calc(5) 0 rem-calc(5);
    border-bottom: $thin-graye6e;
    border-left: $medium-white;
    border-top: $thin-graye6e;
    border-right: $medium-white;
    p {
      margin: 0;
      font-size: $h2-font-size;
      color: $color-gray404;
      line-height: 23px;
      text-align: center;
      font-style: italic;
      padding: rem-calc(30) 0 rem-calc(30) 0;
      @media #{$Medium} {
        font-size: rem-calc(18);
        line-height: 20px;
        padding: rem-calc(20) rem-calc(15) rem-calc(20) rem-calc(15);
      }
    }
  }
  .downArrow {
    padding-bottom: rem-calc(20);
    @media #{$Small} {
      display: none;
    }
    .arrow {
      //border: 1px solid #f00;
      display: block;
      width: rem-calc(184);
      height: rem-calc(57);

      margin-left: auto;
      margin-right: auto;
      background: $SpriteSheet no-repeat 0px -332px;
      @media #{$Medium} {
        width: rem-calc(142);
        height: rem-calc(45);
        background: $SpriteSheet no-repeat -186px -332px;
      }
    }
  }
  .bigBs {
    .sectionObject{
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; 
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
    }
    padding: rem-calc(35) 0 rem-calc(60) 0;
    a {
      //border: 1px solid #f00;
      text-decoration: none;
      .bigB {
        width: rem-calc(130);
        height: rem-calc(130);
        &.healthy {
          background: $SpriteSheet no-repeat 0px -69px;

        }
        &.smart {
          background: $SpriteSheet no-repeat -132px -69px;
        }
        &.green {
          background: $SpriteSheet no-repeat -264px -69px;
        }
        &.aware {
          background: $SpriteSheet no-repeat -396px -69px;
        }
      }
      h2 {
        padding: 0;
        line-height: 25px;
        margin: rem-calc(10) 0 0 0;
        text-align: center;
        font-size: rem-calc(29);
        font-family: 'ComeniaSansCondRegular';
        color: $color-gray222;
        &:first-letter {
          font-weight: $bold;
        }
      }
      &:hover {
        .bigB {
          &.healthy {
            background: $SpriteSheet no-repeat 0px -201px;
          }
          &.smart {
            background: $SpriteSheet no-repeat -132px -201px;
          }
          &.green {
            background: $SpriteSheet no-repeat -264px -201px;
          }
          &.aware {
            background: $SpriteSheet no-repeat -396px -201px;
          }
        }
        h2 {
          color: $color-gray666;
        }
      }
    }
  }
  .homePageCategory {
    //border: 1px solid #f00;
    padding: rem-calc(40) 0 rem-calc(40) 0;
    a {
      display: block;
      width: rem-calc(300);
      //border: 1px solid #f00;
      //margin-top: rem-calc(40);
      text-decoration: none;
      color: $color-gray222;
      .bigB {
        //margin-top: rem-calc(40);
        float: left;
        width: rem-calc(77);
        height: rem-calc(77);
        margin: 0 rem-calc(10) 0 0;
        &.healthy {
          background: $SpriteSheet no-repeat 0px -39px;
          background-size:350px;
        }
        &.smart {
          background: $SpriteSheet no-repeat -76px -39px;
          background-size:350px;
        }
        &.green {
          background: $SpriteSheet no-repeat -153px -39px;
          background-size:350px;
        } 
        &.aware {
          background: $SpriteSheet no-repeat -230px -39px;
          background-size:350px;
        }
        @media #{$Small} {
          width: rem-calc(65);
          height: rem-calc(65); //need to add the 4 variants with position and scale
          &.healthy {
            background: $SpriteSheet no-repeat 0px -34px;
            background-size:297px;
          }
          &.smart {
            background: $SpriteSheet no-repeat -65px -34px;
            background-size:297px;
          }
          &.green {
            background: $SpriteSheet no-repeat -130px -34px;
            background-size:297px;
          } 
          &.aware {
            background: $SpriteSheet no-repeat -195px -34px;
            background-size:297px;
          }
        }
      }
      h2 {
        //margin-top: rem-calc(40);
        font-size: rem-calc(48);
        font-family: 'ComeniaSansCondRegular';
        padding: 0;
        margin: 0;
        line-height: 72px;
        text-transform: uppercase;
      }
      &:hover {
        text-decoration: underline;
        .bigB {
          &.healthy {
            background: $SpriteSheet no-repeat 0px -116px;
            background-size:350px;
          }
          &.smart {
            background: $SpriteSheet no-repeat -76px -116px;
            background-size:350px;
          }
          &.green {
            background: $SpriteSheet no-repeat -153px -116px;
            background-size:350px;
          }
          &.aware {
            background: $SpriteSheet no-repeat -230px -116px;
            background-size:350px;
          }
          @media #{$Small} { //need to add the 4 variants with position and scale
            &.healthy {
              background: $SpriteSheet no-repeat 0px -99px;
              background-size:297px;
            }
            &.smart {
              background: $SpriteSheet no-repeat -65px -99px;
              background-size:297px;
            }
            &.green {
              background: $SpriteSheet no-repeat -130px -99px;
              background-size:297px;
            } 
            &.aware {
              background: $SpriteSheet no-repeat -195px -99px;
              background-size:297px;
            }
          }
        }
      }
      &.buttonList {
        //border: 1px solid #f00;
        height: rem-calc(75);
        width: 100%;
        margin-bottom: rem-calc(25);
        &:last-of-type{
          margin-bottom: 0;
        }
        @media #{$Medium} {
          &:first-of-type{
            margin-top: rem-calc(15);
          }
        }
        p {
          //border: 1px solid #f00;
          font-family: 'ComeniaSansCondRegular';
          font-size: rem-calc(32);
          text-transform: uppercase;
          color: $color-white;
          padding: rem-calc(28) 0 0 rem-calc(20);
          margin: 0;
        }
        &:hover {
          &:nth-child(1) {
            background-color: $color-gray444;
          }
          &:nth-child(2) {
            background-color: $color-gray555;
          }
          &:nth-child(3) {
            background-color: $color-gray666;
          }
        }
      }
    }
    p {
      margin: 0;
      font-size: rem-calc(18);
      line-height: 22px;
      color: $color-gray404;
      padding: rem-calc(38) rem-calc(45) 0 0;
      @media #{$Small} {
        padding: 0;
      }
    }
    &.healthy {
      p a {
        display: inline;
        color: $b-healthy;
        font-weight: $bold;
        &:hover {
          color: $color-gray666;
          text-decoration: none;
        }
      }
      & .buttonList {
        &:nth-child(1) {
          background-color: $b-healthy-dark;
        }
        &:nth-child(2) {
          background-color: $b-healthy-medium;
        }
        &:nth-child(3) {
          background-color: $b-healthy-light;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.smart {
      p a {
        display: inline;
        color: $b-smart;
        font-weight: $bold;
        &:hover {
          color: $color-gray666;
          text-decoration: none;
        }
      }
      & .buttonList {
        &:nth-child(1) {
          background-color: $b-smart-dark;
        }
        &:nth-child(2) {
          background-color: $b-smart-medium;
        }
        &:nth-child(3) {
          background-color: $b-smart-light;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.green {
      p a {
        display: inline;
        color: $b-green;
        font-weight: $bold;
        &:hover {
          color: $color-gray666;
          text-decoration: none;
        }
      }
      & .buttonList {
        &:nth-child(1) {
          background-color: $b-green-dark;
        }
        &:nth-child(2) {
          background-color: $b-green-medium;
        }
        &:nth-child(3) {
          background-color: $b-green-light;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
    &.aware {
      p a {
        display: inline;
        color: $b-aware;
        font-weight: $bold;
        &:hover {
          color: $color-gray666;
          text-decoration: none;
        }
      }
      & .buttonList {
        &:nth-child(1) {
          background-color: $b-aware-dark;
        }
        &:nth-child(2) {
          background-color: $b-aware-medium;
        }
        &:nth-child(3) {
          background-color: $b-aware-light;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

// Category Pages
  .hero {
    padding: 0 0 rem-calc(30) 0;
    //border: 1px solid #f00;
    .categoryTitle {
      float: left;
      //border: 1px solid #f00;
      width: 50%;
      margin-bottom: 20px;
      height: rem-calc(77);
      @media #{$Small} {
        width: 100%;
      }
      .bigB {
        //border: 1px solid #f00;
        float: left;
        display: inline-block;
        width: rem-calc(77);
        height: rem-calc(77);
        margin: 0 rem-calc(10) 0 0;
      }
      h1 {
        //border: 1px solid #f00;
        display: inline-block;
        vertical-align: text-top;
        font-family: 'ComeniaSansCondRegular';
        font-size: rem-calc(48);
        //line-height: 36px;
        color: $color-gray222;
        margin: rem-calc(-2) 0 0 0;
        padding: 0;
      }
    }
    .image-content {
      float: right;
      width: 50%;
      padding: 0 0 rem-calc(10) rem-calc(20);
      @media #{$Small} {
        width: 100%;
        float: none;
        padding: 0 0 rem-calc(10) 0;
      }
      .caption {
      }
    }
    p {
      margin: 0;
      padding: 0;
    } 
  }
  &.healthy .hero .bigB {
    //border: 1px solid #f00;
    background: $SpriteSheet no-repeat 0px -40px;
    background-size: 350px;
  }
  &.smart .hero .bigB {
    background: $SpriteSheet no-repeat -77px -40px;
    background-size: 350px;
  }
  &.green .hero .bigB {
    background: $SpriteSheet no-repeat -153px -39px;
    background-size: 350px;
  }
  &.aware .hero .bigB {
    background: $SpriteSheet no-repeat -230px -39px;
    background-size: 350px;
  }

  .buttonRow {
    padding: 0 0 0 0;
    .sectionObject {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; 
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
      a {
        display: inline-block;
        width: 28%;
        text-decoration: none;
        color: $color-gray222;
        @media #{$Medium} {
          width: 31%;
        }
        &.buttonList {
          //border: 1px solid #f00;
          height: rem-calc(75);
          //width: 100%;
          margin-bottom: rem-calc(25);
          p {
            //border: 1px solid #f00;
            font-family: 'ComeniaSansCondRegular';
            font-size: rem-calc(32);
            text-transform: uppercase;
            color: $color-white;
            padding: rem-calc(15) 0 0 0;
            margin: 0;
            text-align: center;
          }
        }
      }
    }
  }
  &.healthy .buttonRow .sectionObject a.buttonList {
    &:nth-child(1) {
      background-color: $b-healthy-dark;
      &:hover {
        background-color: $color-gray444;
      }
    }
    &:nth-child(2) {
      background-color: $b-healthy-medium;
      &:hover {
        background-color: $color-gray555;
      }
    }
    &:nth-child(3) {
      background-color: $b-healthy-light;
      &:hover {
        background-color: $color-gray666;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  &.smart .buttonRow .sectionObject a.buttonList {
    &:nth-child(1) {
      background-color: $b-smart-dark;
      &:hover {
        background-color: $color-gray444;
      }
    }
    &:nth-child(2) {
      background-color: $b-smart-medium;
      &:hover {
        background-color: $color-gray555;
      }
    }
    &:nth-child(3) {
      background-color: $b-smart-light;
      &:hover {
        background-color: $color-gray666;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  &.green .buttonRow .sectionObject a.buttonList {
    &:nth-child(1) {
      background-color: $b-green-dark;
      &:hover {
        background-color: $color-gray444;
      }
    }
    &:nth-child(2) {
      background-color: $b-green-medium;
      &:hover {
        background-color: $color-gray555;
      }
    }
    &:nth-child(3) {
      background-color: $b-green-light;
      &:hover {
        background-color: $color-gray666;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }
  &.aware .buttonRow .sectionObject a.buttonList {
    &:nth-child(1) {
      background-color: $b-aware-dark;
      &:hover {
        background-color: $color-gray444;
      }
    }
    &:nth-child(2) {
      background-color: $b-aware-medium;
      &:hover {
        background-color: $color-gray555;
      }
    }
    &:nth-child(3) {
      background-color: $b-aware-light;
      &:hover {
        background-color: $color-gray666;
      }
    }
    &:hover {
      text-decoration: none;
    }
  }

/*
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; 
      -webkit-justify-content: space-between;
      -moz-justify-content: space-between;
      -ms-justify-content: space-between;
      justify-content: space-between;
*/

  .sectionHeader {
    padding: rem-calc(28) 0 rem-calc(28) 0;
    //border: 1px solid #f00;
    .bar {
      //border: 1px solid #f00;
      padding: rem-calc(10) 0 rem-calc(10) 0;
      position: relative;
      .colorBar {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -moz-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-justify-content: center;
        -moz-justify-content: center;
        -ms-justify-content: center;
        justify-content: center;
        align-items: center;
        height: 30px;
        //border: 1px solid #f00;
        h2 {
          //border: 1px solid #ff0;
          //display: block;
          //text-align: center;
          font-family: 'ComeniaSansCondRegular';
          height: rem-calc(30);
          font-size: rem-calc(41);
          line-height: 21px;
          text-transform: uppercase;
          background-color: $color-white;
          padding: rem-calc(5) rem-calc(20) 0 rem-calc(20);
          margin: 0;
          @media #{$Small} {
            font-size: rem-calc(24);
            line-height: 20px;
          }
        }
      }
      .arrows {
        position: absolute;
        top: 0;
        left: 0;
        //border: 1px solid #f00;
        background-color: $color-white;
        padding: 0 rem-calc(10) 0 0;
        @media #{$Medium} {
            display: none;
        }
        .arrow {
          display: block;
          width: rem-calc(50);
          height: rem-calc(17);
          padding: 0;
          margin: 0;
          a {
            display: block;
            width: rem-calc(50);
            height: rem-calc(17);
            padding: 0;
            margin: 0;
            &.arrowUp {
              //border: 1px solid #f00;
              background: $SpriteSheet no-repeat -488px 0px;
              &:hover {
                background: $SpriteSheet no-repeat -540px 0px;
              }
            }
            &.arrowDown {
              //border: 1px solid #f00;
              background: $SpriteSheet no-repeat -488px -19px;
              &:hover {
                background: $SpriteSheet no-repeat -540px -19px;
              }
            }
          }
        }
        p {
          font-size: rem-calc(13);
          line-height: 16px;
          //border: 1px solid #f00;
          color: $color-gray777;
          text-transform: uppercase;
          text-align: center;
          padding: 0;
          margin: 0 0 0 0;
        }
      }
    }
  }
  &.healthy .sectionHeader .bar .colorBar {
    background-color: $b-healthy;
    h2 {
      color: $b-healthy;
      @media #{$Small} {
        color: $color-white;
        background-color: $b-healthy;
      }
    }
  }
  &.smart .sectionHeader .bar .colorBar {
    background-color: $b-smart;
    h2 {
      color: $b-smart;
      @media #{$Small} {
        color: $color-white;
        background-color: $b-smart;
      }
    }
  }
  &.green .sectionHeader .bar .colorBar {
    background-color: $b-green;
    h2 {
      color: $b-green;
      @media #{$Small} {
        color: $color-white;
        background-color: $b-green;
      }
    }
  }
  &.aware .sectionHeader .bar .colorBar {
    background-color: $b-aware;
    h2 {
      color: $b-aware;
      @media #{$Small} {
        color: $color-white;
        background-color: $b-aware;
      }
    }
  }
  .events {
    //might need for the calendar widget?
  }
} // Content End




// Footer
.btt {
  //border: 1px solid #f00;
  a {
    //border: 1px solid #f00;
    display: block;
    width: rem-calc(200);
    margin-left: auto;
    margin-right: auto;
    height: rem-calc(55);
    text-decoration: none;
    .arrow {
      //border: 1px solid #f00;
      margin-left: auto;
      margin-right: auto;
      margin-top: rem-calc(8);
      margin-bottom: 0;
      background: $SpriteSheet no-repeat -424px 0px;
      width: rem-calc(60);
      height: rem-calc(21);
      &:hover {
        background: $SpriteSheet no-repeat -424px -24px;
      }
    }
    p {
      margin: 0;
      //border: 1px solid #f00;
      padding-top: rem-calc(10);
      text-align: center;
      text-transform: uppercase;
      font-size: rem-calc(15);
      line-height: 11px;
      color: $color-white;
    }
  }
}

footer {
  //margin-top: rem-calc(60);
  //background-color: $color-grayece;
  .footerNav {
    padding: 0 rem-calc(5) 0 rem-calc(5);
    margin-top: rem-calc(19);
    margin-bottom: rem-calc(20);
    //margin-left: auto;
    //margin-right: auto;
    ul {
      padding: 0;
      text-align: center;
      font-size: $paragraph-font-size;
      list-style-type: none;
      text-transform: uppercase;
      li {
        display: inline-block;
        padding: 0 rem-calc(15) 0 rem-calc(15);
        //&.hideForSmallOnly {
        //  @media #{$Small} {
        //    display: none;
        //  }
        a {
          color: $color-gray666;
          text-decoration: none;
          &:hover {
            color: $color-gray999;
          }
        }
      }
    }
  }
  .copyright {
    margin: rem-calc(0) rem-calc(0) rem-calc(40) rem-calc(5);
    //border: 1px solid #000;
    p {
      font-size: $small-font-size;
      color: $color-gray666;
      padding-top: rem-calc(13);
      line-height: rem-calc(15);
      a {
        color: $color-maroon;
        font-weight: $bold;
        text-decoration: none; 
        &:hover {
          color: $color-gray999;
        }
      }
    }
  }
}


